:root {
  --uni: clamp(16px, 1.2vw + 12px, 32px);
  --uniW: 1vw;
  --uniH: 1vh;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--uni);
  background: #f7f7f7;
}

main {
  padding: calc(var(--uniW) * 3)
}

body.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


body.login main {
  width: 50vw;
  max-width: 400px;
  padding: 2rem;
  background-color: rgb(143, 255, 255);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}


body.login main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


body.login main form label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.subida {
  display: flex;
  gap: .5rem;
  margin: 1rem 0;
}

.subida input {
  flex: 1;
}

.subida button {
  padding: .4rem .8rem;
  cursor: pointer;
}


.explorador {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}


.archivo {
  width: 64px;
  padding-bottom: calc(var(--uni) * 1.2);
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.archivo:hover {
  transform: scale(103%);
}

.archivo img {
  width: 100%
}


.archivo figcaption {}

.archivo figcaption span.extension {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 38px;
  padding: 2px 0;
  font-size: 10px;
}


.archivo .nombre {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
  word-break: break-all;
}


div.datos_archivo {
  position: absolute;z-index:1000000;
  display: none;padding:10px;
  font-size: calc(var(--uni) * 0.5);
  background-color: rgb(229, 229, 227);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  
}

div.datos_archivo.visible {
  display: block;
}
div.datos_archivo table thead{
display:flex
}
div.datos_archivo table td, div.datos_archivo table th{
  padding:calc(var(--uni) * 0.2)
}

div.datos_archivo h3{
  padding:10px;border-bottom:1px solid #555;font-size:calc(var(--uni) * 0.7);color:#555
}
.cerrar{
  cursor: pointer;padding:10px;
  display: block;position:absolute;top:0;right:0;
}
.cerrar:hover{
  background-color: crimson;
  width:30px;color:#fff
}

.mensaje {
  margin-top: 1rem;
  font-weight: bold;
}