@font-face {
    font-family: 'minecraft';
    src: url('../templates/Minecraftia.ttf');
}

body{
    line-height: 1.6;
    color: var(--color-principal);
    background-color: rgba(0, 0, 0, 0.33);
    font-family: 'minecraft';
    /* overflow-x: hidden; */
}

header{
    padding: 0 0 1rem 0;
}

h1, h2{
    text-align: center;
    margin-top: 1.5rem;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

p{
    margin: 1rem 0;
    font-size: 1.2rem;
    text-align: center;
}

nav{
    border-bottom: 1px solid rgb(0, 63, 0);
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    padding-top: 20px;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
    padding: 0;
}

nav ul a{
    text-decoration: none;
    color: rgb(0, 255, 0);
}

main{
    padding-top: 20px;
}