body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    line-height: 1.6;
}

header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.subtitulo {
    font-size: 1.1rem;
    opacity: 0.8;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

nav ul{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

nav ul li a{
    color: yellow;
    text-decoration: none;
}

nav ul li a:hover{
    cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym67.cur), pointer;
}

#obras ul {
    list-style: square;
    padding-left: 20px;
}

.autor {
    margin-bottom: 15px;
}

.autor h3 {
    margin-bottom: 5px;
    color: #b30000;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
    margin-top: 40px;
}
