:root {
  --uni: clamp(16px, 1.2vw + 12px, 22px);
  --uniW:1vw;
  --uniH:1vh;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--uni);
  background: #f7f7f7;
}
main{
  padding:calc(var(--uniW) * 3);
}

footer{
  padding:calc(var(--uniW) * 3);
  width: calc(100vw - 100px);
}

body.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


body.login main {
  width: 50vw;
  max-width: 400px;
  padding: 2rem;
  background-color: rgb(143, 255, 255);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}


body.login main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


body.login main form label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.subida {
  display: flex;
  gap: .5rem;
  margin: 1rem 0;
}

.subida input {
  flex: 1;
}

.subida button {
  padding: .4rem .8rem;
  cursor: pointer;
}


.explorador {
  display: flex;
  gap: 1.2rem;
  flex-wrap: nowrap;
  width: calc(100vw - 100px);
}


.archivo {
  width: 200px;padding-bottom:calc(var(--uni) * 1.2 );
  position: relative;
  text-align: center;
  cursor: pointer;
}

.archivo img:hover {
  transform: scale(110%);
}

.archivo img {
  width: 100%;
  transition: all 0.3s ease;
}

.archivo figcaption span.extension {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 38px;
  padding: 2px 0;
  font-size: 10px;
}


.archivo .nombre {
  position: absolute;
  bottom:0;
  left: 0;
  font-size:10px;
  word-break: normal;
}

div.datos_archivo{
  position: absolute;
  z-index: 100;
  background-color: rgb(143, 255, 255);
  font-size: calc(var(--uni) * 0.6);
  box-shadow: 8px 10px 8px -1px rgb(25, 171, 255);
  display: none;
  width: auto;
  height: auto;
}

div.datos_archivo.visible{
  position: relative;
  display: block;
}

div.cerrar{
  cursor:pointer;
}

.mensaje {
  margin-top: 1rem;
  font-weight: bold;
}