:root {
  --uni: clamp(16px, 1.2vw + 12px, 32px);
  --uniW: 1vw;
  --uniH: 1vh;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--uni);
  background: #f7f7f7;
}

label{
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 10px;
}