@font-face {
    font-family: 'horror';
    src: url('../templates/LETHER400.ttf');
}

:root{
    --color-principal: rgb(100, 0, 0);
    --tamanio-inicial: 120%;
    --color-secundario: rgb(17, 100, 0);
    --color-terciario: rgb(78, 0, 78);
    --color-calabaza: rgb(175, 64, 0);
    --color-cuarto: rgb(175, 0, 0);
}

body{
    color: #333;
    line-height: 1.6;
    font-family: 'horror';
    color: var(--color-principal);
    background-color: rgba(0, 0, 0, 0.5);
    /* overflow-x: hidden; */
}

header{
    padding: 0 0 1rem 0;
}

h1, h2{
    text-align: center;
    margin-top: 1.5rem;
    font-family: 'horror';
}

h1{
    font-size: 4rem;
    color: var(--color-secundario);
    border-bottom: 2px solid var(--color-terciario);
}

h2{
    font-size: 2rem;
    color: var(--color-calabaza);
}

p strong{
    font-size: 110%;
}

a{
    font-size: 2rem;
    color: var(--color-calabaza);
    text-decoration: none;
}

main{
    padding: 1rem;
}

ul#criaturas{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

ul#criaturas li{
    border: 1px solid var(--color-terciario);
    flex: 1 0 calc(50% - 1rem);
    padding: 1rem;
    border-radius: 1rem;
    max-width: calc(50% - 1rem);
    background-color: black;
    transition: all 0.5s ease;
}

ul#criaturas li p{
    font-size: 1.25rem;
}

ul#criaturas li p:last-child{
    color: var(--color-cuarto);
}

ul#criaturas li button{
    display: none;
}

ul#criaturas li:hover{
    cursor: pointer;
    transform: scale(105%);
}

ul#criaturas li h2{
    height: 5rem;
}

/* ul#criaturas li ul li{
    border: none;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    max-width: 100%;
} */

ul#criaturas li figure img{
    max-width:100%;
    border-radius: 1rem;
}

@media(min-width: 700px) {
    ul#criaturas li{
        flex: 1 0 calc(25% - 1rem);
        max-width: calc(25% - 1rem);
    }
}