@font-face {
    font-family: 'Minecraft';
    src: url('../templates/Minecraftia.ttf');
}

*{
    font-family: 'Minecraft';
}

h1{
    text-align: center;    
}

a{
    text-align: center;
    background-color: rgba(0,255,0,0.25);
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    margin-left: 50px;
}

table a{
    background-color: white;
    text-decoration: none;
    margin-left: auto;
}

table{
    margin-top: 10px;
    border-radius: 2px;
    border-style: double;
    border-color: red;
    width: calc(100vw - 10px);
}

table td{
    border: 2px solid blue;
    text-align: center;
}

form{
    margin: 20px;
    padding: 10px;
    background-color: rgba(0,0,0,0.25);
    line-height: 1.5rem;
}

#formulario{
    margin: 20px;
    padding: 10px;
    background-color: rgba(0,0,0,0.25);
    line-height: 1.5rem;
}

#formulario label{
    padding: 10px 10px;
}

#formulario label[for=terminos]{
    border: none;
}

#formulario input[type=text], input[type=email], input[type=password]{
    width: 400px;
    padding: 7px 7px;
    margin: 3px 3px;
}

form button{
    margin-bottom: 10px;
}

form select{
    height: 30px;
}